{% extends 'App/blocks/base.html' %}
{% load static %}

{% block head %}
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock %}

{% load tags%}

{% block content %}
<section class="position-relative">
  <section id="main" class="col-md-9 col-11 border-2 rounded-3 border position-relative container mt-4 p-0" style="height: 82vh;">
      <div id="messages" style="height:80%" class="position-relative overflow-auto d-flex flex-column pt-1 pb-5">
        {% for date, messages in messages|items %}
        <div class="date-seperator d-flex flex-row justify-content-around my-3">
            <div style="width: 40%; height: 1px" class="bg-secondary align-self-center"></div>
            <span class="date-seperator-text text-center text-secondary date align-content-center">{{date|date_format:"%d %B %Y"}}</span>
            <div style="width: 40%; height: 1px" class="bg-secondary align-self-center"></div>
        </div>
        {% for message in messages %}
        <div class="
          msg-container my-1 d-flex flex-row rounded-3 ps-3 mx-2 
          {% if message.name == request.session.name %} justify-content-end bg-primary align-self-end
          {% else %} justify-content-start bg-success align-self-start {% endif %} 
        "style="max-width: 75%; ">
            <div class="w-100 d-block {% if message.name == request.session.name %} ps-3 {% else %} pe-3 {% endif %}">
              {% if message.name != request.session.name %}<span>{{message.name}}</span> {% endif %}
              <p class="h5 mx-0 text-wrap text-break {% if message.name == request.session.name %} text-end me-2 {% endif %}">{{message.message}}</p>
              <span class="d-sm-block d-none {% if message.name != request.session.name%} float-start {% else %} float-end {% endif %}">{{message.time_sent}}</span>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
      </div>

      <div class="border-top border-4 px-5 position-absolute bg-white" style="bottom: 15%;">
        <table id="typing-users-table" class="w-100 h-100" style="table-layout: fixed">
          <tr id="typing-users-row"></tr>
        </table>
      </div>

      <div onsubmit="update_char_count(document.getElementById('message'))" style="height: 15%;" class="bottom-0 position-absolute w-100 d-flex justify-content-center border-top pt-2 border-4 align-self-baseline">
        <form method="post" id="form" class="w-100 mx-1 d-flex align-items-center justify-content-around b-4 flex-row">
          <textarea name="message" id="message" class="rounded-3" style="width: 85%; resize: none; max-height: 90%;" maxlength="{{MESSAGE_MAX_LENGTH}}"></textarea>
          <input type="hidden" name="name" value="{{request.session.name}}">
          <div class="d-flex flex-lg-column flex-md-row justify-content-between overflow-hidden flex-wrap" style="max-height: 100%;">
            <button type="submit" class="btn-success rounded-3 align-middle d-inline-block mx-2">Send!</button>
            <span id="char-count" class="mx-auto mt-2 d-lg-block d-none">0 / {{MESSAGE_MAX_LENGTH}}</span>
          </div>
        </form>
      </div>
  </section>

  <div id="new-connection-toasts" class="position-absolute top-0 ms-4 overflow-hidden" style="max-height: 60vh"></div>
</section>
{% endblock %}

{% block script %}

  {{ request.session.name|json_script:"name" }}

  <script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`
    var name = JSON.parse(document.getElementById('name').textContent)
    var msg_input = document.getElementById('message')

    const chatSocket = new WebSocket(url)

    //check which type of operation was called
    chatSocket.onmessage = function(e) {
      var data = JSON.parse(e.data)
      // console.log('DATA', data)
      if (data.type === 'send_message') {
        create_new_msg(data, name)
        remove_typing_user(data.name)
      } 
      else if (data.type === 'add_typing_user') {
        update_typing_users(data.name, data.msg_len)
      } 
      else if (data.type === 'remove_typing_user') {
        remove_typing_user(data.name)
      }
      else if (data.type === 'add_all_typing_users') {
        add_all_typing_users(data.typing_users)
      }
      else if (data.type === 'create_toast') {
        create_toast(data.name, name, data.connection_type)
      }
    }

    chatSocket.addEventListener('open', () => {
      chatSocket.send(JSON.stringify({
        'type':'add_all_typing_users',
        'name':name
      }))    
      chatSocket.send(JSON.stringify({
        'type':'create_toast',
        'name':name,
        'connection_type':'connect'
      }))    
      chatSocket.send(JSON.stringify({
        'type':'remove_typing_user',
        'name':name,
      })) 
    })

    //onload, scroll messages to bottom so most recent message is visible
    window.addEventListener('load', () => {
      messages.scrollTop = messages.scrollHeight
      msg_input.value = ''
    })

    //some browsers will fire both or one of beforeunload and unload, so check 
    //if one of these events is fired, so chat socket is only sent to once
    window.addEventListener('beforeunload', (e) => {
      sessionStorage.setItem('beforeunload', true)
    })

    window.addEventListener('unload', (e) => {
      sessionStorage.setItem('unload', true)
    })

    var unload = sessionStorage.getItem('unload')
    var beforeunload = sessionStorage.getItem('beforeunload')

    console.log(chatSocket.readyState, chatSocket.OPEN)
    if ((unload || beforeunload) && chatSocket.readyState === chatSocket.OPEN) {
      console.log('REMOVE TYPING USER - window.unload')
      chatSocket.send(JSON.stringify({
        'type':'remove_typing_user_on_refresh',
        'name':name,
      })) 
      chatSocket.send(JSON.stringify({
        'type':'create_toast',
        'name':name,
        'connection_type':'disconnect'
      }))  
      sessionStorage.setItem('beforeunload', false)
      sessionStorage.setItem('unload', false)
    }

    window.addEventListener('close', () => {
      chatSocket.send(JSON.stringify({
        'type':'create_toast',
        'name':name,
        'connection_type':'disconnect'
      }))  
    })

    msg_input.addEventListener('input', () => {
      update_char_count(msg_input)
      console.log('MSG INPTU', msg_input.value)
      if (msg_input.value.length > 0) {
        chatSocket.send(JSON.stringify({
          'type':'add_typing_user',
          'name':name,
        }))
      } else {
        console.log('REMOVE TYPING USER - msg_input.input')
        chatSocket.send(JSON.stringify({
          'type':'remove_typing_user',
          'name':name,
        }))      
      }
    })

    window.addEventListener('blur', () => {
      chatSocket.send(JSON.stringify({
        'type':'remove_typing_user',
        'name':name,
      })) 
    })

    window.addEventListener('focus', () => {
      if (msg_input.value.length > 0) {
        chatSocket.send(JSON.stringify({
          'type':'add_typing_user',
          'name':name,
        })) 
      }
    })

    //when form is submitted, add message info to consumers
    let form = document.getElementById('form')
    form.addEventListener('submit', (e)=> {
      e.preventDefault()
      chatSocket.send(JSON.stringify({
        'type':'send_message',
        'name':e.target.name.value,
        'message':e.target.message.value,
      }))
      chatSocket.send(JSON.stringify({
        'type':'remove_typing_user',
        'name':name,
      }))  
      form.reset()
    })

  </script>
{% endblock %}